.alert {
  border-radius: 15px;
  font-size: 20px;
  margin-right: 45px;
  margin-left: 45px;
  margin-top: 20px;
}

.alert-danger {
  border-radius: 15px;
  font-size: 15px;
  margin-right: 700px;
  margin-left: 700px;
  margin-top: 20px;
}

.welcometext {
  color: white;
}

/* Logged In Index Page */
.panel {
  border: 1px solid black;
  border-radius: 25px;
}

/* Footer */
.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  text-decoration: none;
}
#footer-name {
  text-decoration: none;
  color: white;
}
#footer-name:hover {
  text-decoration: underline;
}
